<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <a routerLink="/shifts/add" class="btn btn-info">Add new Shift</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Shifts table</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date In</th>
                <th scope="col">Shift start time</th>
                <th scope="col">Date Out</th>
                <th scope="col">Shift end time</th>
                <th scope="col">Total shift hours</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let attendance of array | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <tr>
                <td>
                  {{attendance.dateIn}}
                </td>
                <td>
                  {{attendance.timeIn}}
                </td>
                <td>
                  {{attendance.dateOut}}
                </td>
                <td>
                  {{attendance.timeOut}}
                </td>
                <td>
                  {{attendance.diff}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a *ngIf="attendance.dateOut == null" class="dropdown-item"
                        (click)="setEndShift(attendance.computed)">set shift end</a>
                      <a class="dropdown-item" (click)="updateShift(attendance.computed,attendance.dateIn,attendance.timeIn,
                                        attendance.dateOut,attendance.timeOut)">Edit</a>
                      <a class="dropdown-item" (click)="deleteShift()">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination
        [(page)]="page"
        size="lg"
        [pageSize]="pageSize"
        [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
        [collectionSize]="array.length"></ngb-pagination>
      </div>
    </div>
  </div>
</div>