<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <a routerLink="/shifts/add" class="btn btn-info">Add new Shift</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Shifts table</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date In</th>
                <th scope="col">Shift start time</th>
                <th scope="col">Date Out</th>
                <th scope="col">Shift end time</th>
                <th scope="col">Total shift hours</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let attendance of attendanceArray">
              <tr>
                <td>
                  {{attendance.dateIn}}
                </td>
                <td>
                  {{attendance.timeIn}}
                </td>
                <td>
                  {{attendance.dateOut}}
                </td>
                <td>
                  {{attendance.timeOut}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a *ngIf="attendance.dateOut == null" class="dropdown-item"
                        (click)="setEndShift(attendance.computed)">set shift end</a>
                      <a class="dropdown-item" (click)="updateShift(attendance.computed,attendance.dateIn,attendance.timeIn,
                                        attendance.dateOut,attendance.timeOut)">Edit</a>
                      <a class="dropdown-item" (click)="deleteShift()">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class = "table">
          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
            <ng-container matColumnDef="Date start">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date Start </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dateIn}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Time start">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Time start </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.hourIn}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Date end">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date end </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dateOut}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Time end">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Time end </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.timeOut}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element" class="action-link"> 
                <a (click)="openDialog(element)"><i class="fas fa-pen"></i></a> | 
                <a (click)="delete(element.id)"><i class="far fa-trash-alt"></i></a>  
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons>
          </mat-paginator>
        </div> -->
        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
</div>