<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-7 col-md-10">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <div class="p-1">
          <webcam [height]="350" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [videoOptions]="videoOptions" (initError)="handleInitError($event)"></webcam>
          <br/>
        </div>
        <div class="pb-2">
          <button class="btn btn-primary" (click)="triggerSnapshot()">OK</button>
        </div>
        <div (pictureTaken)="handleImage1($event)"></div>
      </div>
    </div>
  </div>
</div>